body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.canvas {
    padding: 0;
    margin: 0;
    display: none;
}
.controls { 
    margin: 1rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    font-family: 'Open Sans Condensed', sans-serif;
}
input {
    border-radius: 50px;
    border: 1px solid;
    margin: .5rem;
    padding-left: 1rem;
    outline: none;
}
button {
    padding: .5rem;
    background: black;
    color: #fff;
    min-width: 100px;
    border-radius: 50px;
    border: 1px solid black;
    margin: .5rem;
    outline: none;	
}
button:disabled{
	opacity:.5;
}